.form-container-login{
	background-color: #F9F9F9;
	border-radius: 8px;
	border: 2px #ED7C23 solid;
	padding: 10px;
	margin-top: 100px
}
.form-conatainer-first-part{
	color: #000;
	font-size: 2.25em;
	text-align: center;
	transition: 0.5s;
	border-bottom: 1px #ccc solid
}
.form-conatainer-first-part:hover{
	/*color: #DD5044;
	padding-bottom: 8px*/
}
.form_help{
	transition: 0.2s;
	font-size: 1.2em
}
.form_help:hover{
	text-decoration: none;
	color: #709EF3;
	border-bottom: 1px #ccc dotted;
	padding-bottom: 3px;
}
.btn-login-register{
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	margin-top: 10px;
}
label{
	color: #000;
	transition: 0.25s;
	font-family: 'Arimo', sans-serif;
}
label:hover{
	padding-left: 10px;
	border-left: 1px #000 solid
}

/* PROFILE */
#sidebar-profile{
	background-color: #efe8e599;
	border: 1.5px #E0E0E0 solid;
	color: #000;
	border-radius: 4px;
	font-size: 1.6em;
	transition: 1s;
	margin-top: 20px;
	margin-bottom: 20px
}
#sidebar-profile:hover{
	border: 1.5px #F48024 solid;
}
.sidebar-name-image{
	margin: 13.5px;
}
.sidebar-name{
	padding-bottom: 10px;
	text-align: center;
	transition: 0.2s;
	font-size: 1.3em
}
.sidebar-name:hover{
	/*margin-bottom: 3.5px;*/
}
.sidebar-image{
	text-align: center;
	padding-bottom: 5px;
}
.sidebar-others{
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 20px;
}
.option-a{
	color: #000;
	transition: 0.3s;
}
.option-a:hover{
	color: #E1E1E1;
	/*padding-left: 7.5px;*/
	text-decoration: none;
}
.option-a:focus{
	text-decoration: none
}
.options{
	margin-left: 10px
}
.option-icon{
	padding-right: 10px
}
.option-icon-set{
	padding-right: 3px
}
.option-a-div{
	padding-bottom: 10px;
	transition: 0.15s
}
.option-a-div:hover{

}
#content-profile{
	background-color: #F1F1F1;
	color: #000;
	border-bottom: 1.5px #E0E0E0 solid;
	border-left: 1.5px #E0E0E0 solid;
	border-right: 1.5px #E0E0E0 solid;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 20px
}
.settings-profile{
	font-size: 2em;
	padding: 8.5px;
	border-bottom: 1.5px #E0E0E0 solid;
	transition: 0.5s;
	text-align: center;
	background-color: #fff
}
.settings-profile-email{
	font-size: 2em;
	padding: 8.5px;
	border-bottom: 1.5px #E0E0E0 solid;
	transition: 0.5s;
	text-align: center;
	background-color: #f9f9f9
}
.settings-profile:hover{
	border-bottom: 1.5px #F48024 solid;
}
.content-profile{
	padding: 10px;
	font-size: 1.3em;

}
.settings-form-label{
	font-size: 1.2em;
}
.btn-form-user{
}
#content-profile-else{
	background-color: #f9f9f9;
	color: #000;
	border-bottom: 1.5px #E0E0E0 solid;
	border-left: 1.5px #E0E0E0 solid;
	border-right: 1.5px #E0E0E0 solid;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 20px
}
.content-profile-else{
	background-color: #f9f9f9;
	font-size: 1.5em;
	margin: 7.5px;
	margin-left: 15px;
	margin-top: 15px;
	flex: 1 auto;
}
.puzzle-text_c_2f4051-darkblue {
    color: #2f4051;
    font-weight: 600
}
.puzzle-text_fz_1{
    font-size: 14px!important;
}
@media only screen and (max-width: 767px)
.puzzle_mb_xs_5 {
    margin-bottom: 5px!important;
}
.content-profile-else-1{
	background-color: #f9f9f9;
	font-size: 1.5em;
	margin: 5px;
	margin-left: 10px;
	margin-top: 15px;
	flex: 1 auto;
	/*width: 50%*/
}
.middle-xs{
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px
}
.puzzle_mb_20{
	margin-bottom: 20px!important;
}
.content-profile-else-2{

}
.profile-field{
	/*font-size: 1.35em;*/
	padding-bottom: 12.5px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	display: flex;
}
.profile-field-1{
	padding-right: 40px;
}
.profile-field-2{
	padding: 5px 10px 5px;
	border: 1px #95a5b2 solid;
	height: 40px;
	font-size: 20px
}
.country-pad{
	padding-left: 20px
}
.content-profile-email-2{
	padding-top: 10px;
}
.error{
	color: #000;
	background-color: #e44047b0;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}